.card {
	border-radius: 8px;
	border: 1px solid #333;
	
	a {
		display: block;
		padding: 16px;
		text-decoration: none;
	}
}

.title {
	font-size: 1.4rem;
}

.text {
	
}

.external {
	text-align: right;
}